.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.f-grow-1 {
    flex-grow: 1;
}

.d-inline-block {
    display: inline-block;
}

.w-100 {
    width: 100%;
}

.m-0 {
    margin: 0;
}

.mt-16 {
    margin-top: 16px;
}

.mt-24 {
    margin-top: 24px;
}