$container-max-width: 1493px;
$gutter: 24px;
$columns: 12;

// Colors
$white-100: #FFFFFF;
$gray-5: #EDEDF0;
$gray-60: #5A5B6A;
$gray-100: #19191D;
$blue-70: #2264D1;
$blue-30: #9DC2FF;
$blue-5: #EBF2FF;